* {
    margin: 0;
    padding: 0
}
.branchcontentMainWrapper{
    background-color: rgb(227, 242, 253);
    width: 82%;
    height:86vh;
    margin-left: 5px;
    padding-right: 5px;
    overflow-y: scroll;
}

.branchcontentMainWrapper::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.branchcontentMainWrapper::-webkit-scrollbar-track {
    background-color: rgb(227, 242, 253);

}

/* Handle */

.branchcontentMainWrapper::-webkit-scrollbar-thumb {
    background: rgb(175, 211, 236);
    border-radius: 15px;
}

/* Handle on hover */
.branchcontentMainWrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.branchcontentbodywrapper{
    margin-top: 10px;
    margin-left: 20px;
}
.branch-header{
    height: 10vh;
    width:100%;
    display: flex;
}
.branch-search-wrapper{
    height: 10vh;
    width:100%;
    display: flex;
    padding-left:25px
}
.branch-search{
    width:60vh;
    height: 6vh;
    margin-top: 10px;
    border-radius: 25px;
    border: 1px solid black;
    padding-right:10px;
    padding-left: 10px;
}
.branch-add-wrapper{
    
    width:59%; 
    padding-top: 10px;
    margin-right: 25px;
}
.branch-add-btn{
    background-color: transparent;
    color: white;
    float: right;
    border-radius: 100%;
    outline: none;
    border: none;
    width: 40px;
    height: 40px; 
}
.add-btn{
   color:rgb(15, 41, 65)
}
.branch-body-wrapper{
    
    height: 72vh;
    width:100%;
    margin-top:1vh;
    
    overflow-y: auto;
    
}
.branch-reg-form{
    margin:auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width:95%;
    /* height: 100vh;
    background-color:blue; */
}
.branch-popup-form{

    top:0;
    left:0;
    right:0;
    bottom:0;
    position: fixed;
    background-color: rgba(130, 130, 130, 0.8);;
        
}
.btn-close{
    float: right;
    margin-right: 10vh;
    margin-top: 5vh;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 37px;
    background-color:rgb(15, 41, 65);
    padding-top:2px;
    padding-left:2px
}
.branch-reg-form{
    margin:auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width:95%;
}