.branch-detail-main-wrapper{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    box-shadow: 1px 1px rgb(37, 105, 224);
    display: flex;
    border-radius: 25px;
}
.branch-detail-grp{
    width:88%;
    display: flex;
    padding: 4vh;
}
.branch-details{
    width:40vh; 
    color:rgb(2, 27, 30);
    font-weight: 500;
    margin-left: 15px;
    margin-top: -2px;
    
}
.branch-detail-wrapper{
    display: flex;
    /* background-color: aqua; */
}
.branch-action-btn{
    height:50%;
    width: 35px;
    outline: none;
    border: none;
    margin-top:4vh;
    color:rgb(234, 54, 54);
    border-radius:50%;
    background-color: transparent;
}
.branch-action-btn:hover{
    color:rgb(148, 30, 30);
}
