.emp-reg-form-wrapper{
    width:35%;
    margin:auto;
    margin-top:7%;
    z-index: 1;
    border-radius: 10px;
    background-color: rgb(5, 51, 67);
    padding-bottom: 2vh;
    padding-top: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
}
.input-feilds{
    width:80%;
    height:5vh;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 10px;
}
.select-input-feilds{
    width:82%;
    height:5vh;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 10px;
}
.reg-btn{
    width:35%;
    height:5vh;
    margin-top: 20px;
    outline:none;
    border:1px solid white;
    border-radius: 5px;
    background-color:transparent;
    color:white;
    margin-bottom: 20px;
}
.reg-btn:hover{
    background-color: rgb(237, 231, 246);
    color: rgb(15, 41, 65);
}

