cardwrapper* {
  margin: 0;
  padding: 0;
}

.contentMainWrapper123 {
  background-color: rgb(227, 242, 253);
  width: 82%;
  height: 91vh;
  margin-left: 5px;
  padding-right: 5px;
  overflow-y: scroll;
}

.contentMainWrapper::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.contentMainWrapper::-webkit-scrollbar-track {
  background-color: rgb(227, 242, 253);
}

/* Handle */

.contentMainWrapper::-webkit-scrollbar-thumb {
  background: rgb(175, 211, 236);
  border-radius: 15px;
}

/* Handle on hover */
.contentMainWrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.contentbodywrapper {
  margin-top: 10px;
  margin-left: 20px;
}

.cardMainWrapper {
  width: fit-content;
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto auto;
  gap: 40px;
  margin-top: 40px;
}

.cardwrapper123 {
  width: 261px;
  height: 120px;
  border-radius: 15px;
  transition: transform 0.2s;
}

.cardwrapper123:hover {
  transform: scale(1.03);
}

.card1 {
  background-color: rgb(58 112 113);
  color: rgb(255, 255, 255);
}
.cardall {
  display: flex;
  font-size: 4vh;
}
.cardaling {
  padding-left: 1%;
  padding-top: 4%;
}
.cardtext {
  margin-left: 1%;
  margin-top: 3%;
  width: 55%;
  text-align: center;
}

.card2 {
  background-color: rgb(108 136 142);
  color: rgb(255, 255, 255);
}

.card3 {
  background-color: rgb(152 155 157);
  color: rgb(255, 255, 255);
}

.graph {
  width: 640px;
  margin-top: 50px;
  margin-left: 15px;
}

.chart {
  padding-top: 2%;
}
.date {
  padding-left: 56%;
  display: flex;
}
.count {
  text-align: center;
}
.view {
  padding-top: 3%;
  display: inline;
}
.cardfront {
  font-size: 120%;
}
.cardallfont {
  font-size: 95%;
}
.charsize {
  width: auto;
  height: auto;
}
